VITE_SUPABASE_URL=https://wvwjbzpnujmyvzvadctp.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind2d2pienBudWpteXZ6dmFkY3RwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMyMzIzMTAsImV4cCI6MjA4ODgwODMxMH0.P241OS3TA5q9sDeJhyG6mxVAVoYRHkM-3O5L7wpz0LA
